.card-largura {
   max-width: 18rem;
   
}

.imagem-carrosel-1 {
   object-fit: cover;
   object-position: 0 80%;
    height: 480px; 
}

.imagem-carrosel-2 {
    object-fit: cover;
    height: 480px; 
 }

 .fonte-titulo {
    font-family: 'Pacifico', cursive;
 }

 .cor-especial {
    color: darkred;
 }

 .botao-cor-especial {
    background-color: darkred;
    color: white;
 }

.borda-cor-especial {
   border-color: darkred;
}

.card-posicao-img {
   object-fit: cover;
   height: 200px;

}

.comentario-form {
   height: 100px;
   width: 100%;
}